* {
    box-sizing: border-box;
    margin: 0;
    font-size: 24px;
    background-color: bisque ;
}
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 770px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 11px;
    background-color: pink;
}
#display {
    border: 1px solid black;
    height: 160px;
    width: 390px;
    margin: 10px;
    text-align: right;
    padding-right: 25px;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 6px;
}
#keys {
    height: 500px;
    width: 420px;
    margin: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: pink;
}
.key {
    flex: auto;
    height: 60px;
    width: 60px;
    border: 1px solid black;
    padding: 17px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 12px;
    background-color: white;
    font-size: 20px
}
#logo {
    background-color: pink;
    color: white;
    font-weight: bolder;
}